<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="registerData" (ngSubmit)="registerValue()">
                    <div class="Heading pt-5">
                        <h2 class="pt-5 fw-bold fs-1">Register Now</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magnam necessitatibus eius est mollitia corporis tempore.</p>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" formControlName="userName" class="form-control rounded-0" placeholder="First name">
                            <div *ngIf="registerData.get('userName')?.errors && registerData.get('userName')?.touched" class="text-danger validationMessage pt-2">
                               <p *ngIf="registerData.get('userName')?.errors?.['required']" class="m-0">Please enter your Name.</p>
                               <p *ngIf="registerData.get('userName')?.errors?.['pattern']" class="m-0">Username must consist of letters only and no spaces.</p>
                               <p *ngIf="registerData.get('userName')?.errors?.['minlength']" class="m-0">Please at least insert {{registerData.get('userName')?.errors?.['minlength'].requiredLength}} characters.</p>
                               <p *ngIf="registerData.get('userName')?.errors?.['maxlength']" class="m-0">Max characters to enter {{registerData.get('userName')?.errors?.['maxlength'].requiredLength}} character.</p>
                            </div>
                        </div>
                        <div class="col">
                            <input type="email" formControlName="email" class="form-control rounded-0" placeholder="Email">
                            <div *ngIf="registerData.get('email')?.errors && registerData.get('email')?.touched" class="text-danger validationMessage pt-2">
                               <p *ngIf="registerData.get('email')?.errors?.['required']" class="m-0">Please enter your Email.</p>
                               <p *ngIf="registerData.get('email')?.errors?.['email']" class="m-0">Please Enter Valid Email.</p>
                            </div>
                            <p *ngIf="isEmailExist" class="validationMessage text-danger m-0">{{isEmailExist}}</p>
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col">
                            <input type="text" formControlName="phoneNumber" class="form-control rounded-0" placeholder="Phone Number">
                            <div *ngIf="registerData.get('phoneNumber')?.errors && registerData.get('phoneNumber')?.touched" class="text-danger validationMessage pt-2">
                               <p *ngIf="registerData.get('phoneNumber')?.errors?.['required']" class="m-0">Please enter your phoneNumber.</p>
                               <p *ngIf="registerData.get('phoneNumber')?.errors?.['pattern']" class="m-0">Please Enter Valid phoneNumber.</p>
                            </div>
                        </div>
                        <div class="col">
                            <input type="password" formControlName="password" class="form-control rounded-0" placeholder="Password">
                            <div *ngIf="registerData.get('password')?.errors && registerData.get('password')?.touched" class="text-danger validationMessage pt-2">
                               <p *ngIf="registerData.get('password')?.errors?.['required']" class="m-0">Please enter your Password</p>
                               <p *ngIf="registerData.get('password')?.errors?.['pattern']" class="m-0">Must contain at least one numeric value and one uppercase and lowercase letter and at least one special symbol(!@#$%^&*=+-_), and at least 8 or more characters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div>
                            <input type="text" formControlName="address" class="form-control rounded-0" placeholder="Address">
                            <div *ngIf="registerData.get('address')?.errors && registerData.get('address')?.touched" class="text-danger validationMessage pt-2">
                               <p *ngIf="registerData.get('password')?.errors?.['required']" class="m-0">Please enter your Address.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-warning py-2 px-4 mt-4 rounded-0 fw-bold shadow" (click)="backClicked()">BACK</button>
                        </div>
                        <div>
                            <button type="submit" [disabled] = 'registerData.invalid && registerData.touched' class="btn btn-warning py-2 px-4 mt-4 rounded-0 fw-bold shadow">CONFIRM</button>
                        </div>
                    </div>
                </form>
                <p class="mt-5">I Already Have an Account!<a routerLink="/login" class="ps-1">Login now</a></p>
            </div>
            <div class="col-md-6 pt-0 pt-md-5">
                <div class="pt-0 pt-md-5">
                    <div *ngFor="let item of baskets" class="mt-4 shadow">
                       <div class="d-flex justify-content-between align-items-center OrderItems border border-1 border-warning p-3">
                           <div class="image">
                               <img src={{item.pictureUrl}} width="90px" alt="">
                           </div>
                           <div>
                               <h3 class="m-0 text-warning">{{item.mealName}}</h3>
                               <p class="bg-warning text-center py-1 px-2 m-0">{{item.price|currency}}</p>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
